<div class="flex flex-wrap gap-5 justify-center">

    <div class="bg-blue-50 max-w-sm border-8 border-blue-900 rounded-lg">
        <!-- Card header starts here -->
        <div>
            <div class="text-2xl font-bold pl-4 mb-1.5">
                <h> {{adventure.title}}</h>

                {{!-- How to include icons? --}}

                {{!-- <i class="fas fa-ice-cream float-right p-2 pl-0"></i>
                <i class="fas fa-sun float-right p-2 pl-0"></i> --}}
                <i class="fas {{adventure.icon}} float-right p-2 pl-0"></i>

            </div>
            {{!--If statement to check if it's a start card --}}
            {{#ifStart adventure.type}}
            <iframe width="320" height="304" loading="lazy"
                src="https://www.google.com/maps/embed/v1/search?q={{adventure.image}}"
                class="mx-4 w-11/12 h-80 border-8 border-blue-900 rounded-lg"></iframe>
            {{/ifStart}}

            {{#ifNotStart adventure.type}}
            <img src="/images/{{adventure.image}}" alt="{{adventure.alt}}"
                class=" mx-4 w-11/12 h-80 border-8 border-blue-900 rounded-lg">
            {{/ifNotStart}}

            <p id="imgdesc" class="text-center font-bold pb-2">{{adventure.imgdesc}}</p>
        </div>
        <!-- Card body starts here -->
        <div class="px-4">
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">{{adventure.descriptionheading}}</h2>
                <p class="text-sm py-0.5">{{adventure.description}}</p>
                {{#ifClue adventure.type}}
                <p class="text-sm py-0.5">Once you arrive, press the "Check In" button!</p>
                {{/ifClue}}
            </div>
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">{{adventure.listheading}}</h2>
                <ul class="text-sm list-disc list-inside">
                    <li>{{adventure.listitem1}}</li>
                    <li>{{adventure.listitem2}}</li>
                    <li>{{adventure.listitem3}}</li>
                    <li>{{adventure.listitem4}}</li>
                    {{#ifWaypoint adventure.type}}
                    <li><a class="underline" href="{{adventure.listitem5}}">Artist's website</a></li>
                    {{/ifWaypoint}}
                    {{#ifNotWaypoint adventure.type}}
                    <li>{{adventure.listitem5}}</li>
                    {{/ifNotWaypoint}}
                </ul>
            </div>
        </div>
        <!-- Card Buttons Section starts here -->
        <div class="flex justify-center">
            {{#ifStart adventure.type}}
            <button id="startButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Begin</button>
            <button id="resetButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Reset</button>
            {{/ifStart}}
            {{#ifClue adventure.type}}
            <button id="homeButton"
                class="homeButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Home</button>
            <button id="checkinButton"
                class="checkinButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Check
                In</button>
            {{/ifClue}}
            {{#ifWaypoint adventure.type}}
            <button id="homeButton"
                class="homeButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Home</button>
            <button id="nextButton"
                class="nextButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Next</button>
            {{/ifWaypoint}}
        </div>
    </div>

    {{!-- javascript file to include button response --}}
    {{!--
    <script src="/js/adventures.js"></script> --}}