<div class="flex flex-wrap gap-5 justify-center">

    <div class="bg-blue-50 max-w-sm border-8 border-blue-900 rounded-lg">
        <!-- Card header starts here -->
        <div>
            <div class="text-2xl font-bold pl-4 mb-1.5">
                <h> {{adventure.title}}</h>

                {{!-- How to include icons? --}}

                {{!-- <i class="fas fa-ice-cream float-right p-2 pl-0"></i>
                <i class="fas fa-sun float-right p-2 pl-0"></i> --}}
                <i class="fas {{adventure.icon}} float-right p-2 pl-0"></i>

            </div>
            {{!--If statement to check if it's a start card --}}
            {{#when adventure.type 'is' 'start'}}
            <iframe width="320" height="304" loading="lazy"
                src="https://www.google.com/maps/embed/v1/search?q={{adventure.image}}"
                class="mx-4 w-11/12 h-80 border-8 border-blue-900 rounded-lg"></iframe>
            {{/when}}

            {{#when adventure.type 'not' 'start'}}
            <img src="/images/{{adventure.image}}" alt="{{adventure.alt}}"
                class=" mx-4 w-11/12 h-80 border-8 border-blue-900 rounded-lg">
            {{/when}}

            <p id="imgdesc" class="text-center font-bold pb-2">{{adventure.imgdesc}}</p>
        </div>
        <!-- Card body starts here -->
        <div class="px-4">
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">{{adventure.descriptionheading}}</h2>
                <p class="text-sm py-0.5">{{adventure.description}}</p>
                {{#when adventure.type 'is' 'clue'}}
                <p class="text-sm py-0.5">Once you arrive, press the "Check In" button!</p>
                {{/when}}
            </div>
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">{{adventure.listheading}}</h2>
                <ul class="text-sm list-disc list-inside">
                    <li>{{adventure.listitem1}}</li>
                    <li>{{adventure.listitem2}}</li>
                    <li>{{adventure.listitem3}}</li>
                    <li>{{adventure.listitem4}}</li>
                    {{#when adventure.type 'is' 'waypoint'}}
                    <li><a class="underline" href="{{adventure.listitem5}}">Artist's website</a></li>
                    {{/when}}
                    {{#when adventure.type 'not' 'waypoint'}}
                    <li>{{adventure.listitem5}}</li>
                    {{/when}}
                </ul>
            </div>
        </div>
        <!-- Card Buttons Section starts here -->
        <div class="flex justify-center">
            {{#when adventure.type 'is' 'start'}}
            <button id="startButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Begin</button>
            <button id="resetButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Reset</button>
            {{/when}}
            {{#when3 adventure.type 'orEquals' 'clue' 'waypoint'}}
            <button id="homeButton"
                class="homeButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Home</button>
            {{/when3}}
            {{#when adventure.type 'is' 'clue'}}
            <button id="checkInButton" class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Check
                In</button>
            {{/when}}
            {{#when adventure.type 'is' 'waypoint'}}
            <button id="nextButton"
                class="nextButton bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Next</button>
            {{/when}}
        </div>
    </div>

    {{!-- javascript file to include button response --}}
    {{#when adventure.type 'is' 'waypoint'}}
    <script src="/js/waypoint.js"></script>
    {{/when}}
    {{#when adventure.type 'is' 'start'}}
    <script src="/js/start.js"></script>
    {{/when}}
    {{#when adventure.type 'is' 'clue'}}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD35Vbfoe4FWuJm8JnPKOCJSFhY-rbgbhA&libraries=geometry&v=weekly"
        async></script>
    <script src="/js/clue.js"></script>
    {{/when}}