<div class="rounded-lg w-full max-w-xs">
    <h>Choose from the adventures below:</h>
</div>

<div class="w-full max-w-xs">
    <form class="filter-form flex flex-col border-8 border-blue-900 p-1 rounded-lg w-11/12 mt-5 max-w-md">

        <div class="mb-2 flex flex-row gap-y-0.5">
            <label class="block text-gray-700 text-sm font-bold mb-1" for="indoors">
                Indoor:
            </label>
            <input class="ml-2" id="indoors" type="checkbox">
        </div>

        <div class="mb-2 flex flex-row gap-y-0.5">
            <label class="block text-gray-700 text-sm font-bold mb-1" for="distance">
                Distance (0-10000m):
            </label>
            <input class="bg-gray-200 rounded ml-2" id="distance" type="number" name="distance" placeholder=" distance"
                min="0" max="10000">
        </div>

        <div class="mb-2 flex flex-row gap-y-0.5">
            <label class="block text-gray-700 text-sm font-bold mb-1" for="time">
                Time (0-300min):
            </label>
            <input class="bg-gray-200 rounded ml-2" id="time" type="number" name="time" placeholder=" time" min="0"
                max="300">
        </div>

        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Filter
            </button>
        </div>
    </form>
</div>

<script src="/js/filter.js"></script>

{{!-- Add a loop, to get all adventures --}}
{{#each adventures as |adventure|}}
<a href="./adventure/{{adventure.link}}/1"
    class="flex flex-row flex-wrap border-8 border-blue-900 rounded-lg w-11/12 mt-5 ">
    <img src="/images/{{adventure.image}}" alt="local-discovery-logo" class="m-1 w-1/5 h-30">
    <div class="w-3/4">
        <h1 class="font-bold text-2xl m-1">{{adventure.name}}</h1>
        <p>{{adventure.description}}</p>
        {{#if adventure.outdoor}}
        <p><b>Location:</b> Outdoors</p>
        {{else}}
        <p><b>Location:</b> Indoors</p>
        {{/if}}
        <p><b>Distance:</b> {{adventure.distance}}m</p>
        <p><b>Time:</b> {{adventure.time}}min</p>
    </div>
</a>
{{/each}}
{{!-- Close the loop --}}